@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>找回密码</title>
</head>
<body>
    <div>
        <form method="post" action="/Login/FindPwd">
        <table>
            <tr><td>用户名:</td><td><input type="text" name="txtName" /></td></tr>
            <tr><td>邮箱</td><td><input  type="text" name="txtMail" /></td></tr>
            <tr><td><input type="submit" value="找回密码" /></td></tr>
        </table>
            </form>
    </div>
</body>
</html>
