<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <table id="tt" title="插入管理员信息表格" iconcls="icon-edit"></table>
    <div id="toolbar_Admin" style="padding: 5px; height: auto">
        <div style="margin-bottom: 5px"><a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="addInfo()">添加</a><a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="deleteInfo()">删除</a><a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editInfo()">编辑</a><a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="SearchTheSearch()">简单查询</a></div>
        <div>&nbsp&nbsp&nbspDate From:&nbsp&nbsp&nbsp<input class="easyui-datebox" style="width: 80px">&nbsp&nbsp&nbspTo:&nbsp&nbsp&nbsp<input class="easyui-datebox" style="width: 80px">&nbsp&nbsp&nbspLanguage:&nbsp&nbsp&nbsp<select class="easyui-combobox" panelheight="auto" style="width: 100px"><option value="java">Java</option>
            <option value="c">C</option>
            <option value="basic">Basic</option>
            <option value="perl">Perl</option>
            <option value="python">Python</option>
        </select><a href="#" class="easyui-linkbutton" iconcls="icon-search">Search</a></div>
    </div>

</body>
</html>
