@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Yuruisoft.RS.Js/Yuruisoft.RS.RoleInfo.Index.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");
            loadData();
        });
    </script>
</head>
<body>
    <!-------------------------------------------------------------数据表插入位置DataGrid-------开始------------------------------------------------------>
    <div>
        <table id="tt_roleinfo">
        </table>
    </div>
    <!-------------------------------------------------------------数据表插入位置DataGrid-------结束------------------------------------------------------>



    <!------------------------添加信息开始----------对话框元素-------------------------------------------->
    <div id="addDiv">
        @using (Ajax.BeginForm("AddRoleInfo", new { }, new AjaxOptions() { Confirm = "你确定添加吗?", HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <table>
                <tr>
                    <td>角色名</td>
                    <td>
                        <input type="text" name="RoleName" /></td>
                </tr>
                <tr>
                    <td>排序</td>
                    <td>
                        <input type="text" name="Sort" /></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td>
                        <input type="text" name="Remark" /></td>
                </tr>
            </table>
        }
    </div>
    <!------------------------添加信息结束----------对话框元素-------------------------------------------->



    <!------------------------修改信息开始----------对话框元素-------------------------------------------->
    <div id="editDiv">
        <iframe id="editFrame" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
    </div>
    <!------------------------修改信息结束----------对话框元素-------------------------------------------->



</body>
</html>
